<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{subject}}</title>
	</head>
	
	<body>
		<h1>Welcome to AMT Educational System</h1>
		<p>Be Informed that we have added {{CourseName}} Course to our System</p>
		<div>
			<label>Course Name:</label> <span><b>{{CourseName}}</b></span>
		</div>
		<div>
			<label>Course Duration:</label> <span><b>{{CourseEstimatedDuration}}</b></span>
		</div>
	</body>
</html>