<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%-5level] [%logger{36}] - %msg%n%n"/>
        </Console>

        <RollingFile name="Template" fileName="../logs/AMT/Template.log" immediateFlush="true"
                     filePattern="../logs/AMT/Template/Template-%i-%d{yyyy-MM-dd HH-mm-ss.SSS}.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%-5level] [%logger{36}] - %msg%n%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="6144 KB"/>
            </Policies>

        </RollingFile>

        <RollingFile name="Failure" fileName="../logs/AMT/Failure.log" immediateFlush="true"
                     filePattern="../logs/AMT/Failure/Failure-%i-%d{yyyy-MM-dd HH-mm-ss.SSS}.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%-5level] [%logger{36}] - %msg%n%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="6144 KB"/>
            </Policies>

        </RollingFile>
        <RollingFile name="Initial" fileName="../logs/AMT/Initial.log" immediateFlush="true"
                     filePattern="../logs/AMT/Initial/Initial-%i-%d{yyyy-MM-dd HH-mm-ss.SSS}.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%-5level] [%logger{36}] - %msg%n%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="6144 KB"/>
            </Policies>

        </RollingFile>
    </appenders>

    <Loggers>
        <Logger name="Template" level="debug">
            <AppenderRef ref="Template"/>
        </Logger>

        <Logger name="Failure" level="debug">
            <AppenderRef ref="Failure"/>
        </Logger>
        <Logger name="Initial" level="debug">
            <AppenderRef ref="Initial"/>
        </Logger>
    </Loggers>
</configuration>